*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    /* bez crtice ispod linka*/
 }

body{
     margin: 0;
     min-height: 100vh;
     font-family: 'Quicksand', sans-serif;
     background: #a57b48;
     background-position: center;
     background-size: cover;
     display: flex;
     flex-direction: column;
 }
 

header{
    width: 100%;
    height: 130px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stranice{
    list-style: none;
}

.stranice li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 2px;
    font-size: 20px;
    display: inline-block;
    margin-right: 80px;
}

.burger_meni{
    display: none;
    height: 60px;
    width: 60px;
 }

 #logo_meni{
    margin-left: 50px;
 }

 footer{
    width: 100%;
    height: 130px;
    background-color: whitesmoke;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 #ft_slika{
    margin-right: 50px;
    cursor: pointer;
 }

 .futer_kontakt{
    margin-left: 50px;
 }


.o_nama {
    width: 100%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.o_nama h1{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #4F0000;
}

.o_nama p {
    width: 50%;
    font-size: larger;
    text-align: center;
    line-height: 1.4;
    color: #fff;
    background-color: #4F0000;
    border-radius: 15px;
    padding: 15px;
}

#kontaktN {
    margin-top: 40px;
    text-align: center;
    color: #fff;
}

.kontakt {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.kucice {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
}

.slikaK {
    float: left;
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 5px;
}

.kucaTxt {
    text-align: center;
    color: aliceblue;
}

.mapa {
    height: 400px;
    width: 500px;
    margin-bottom: 10px;
}


.kucaTxt:hover {
    font-size: 110%;
    color: #4F0000;
}



@media(max-width:900px) {
    .burger_meni {
        display: block;
        margin-right: 30px;
        cursor: pointer;
    }

    .stranice {
        position: fixed;
        left: -100%;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        width: 100%;
        text-align: center;
        top: 129px;
        transition: 0.4s;
    }

    .stranice li {
        margin: 16px 0;
    }

    .stranice.pomeri {
        top: 129px;
        left: 0;
    }
    
    #ft_slika{   
        display: block;
    }


    .o_nama {
        margin-top: 3%;
    }

    .o_nama p {
        line-height: 1;
        font-size: 16px;
        width: 70%;
    }

    #kontaktN {
        margin-top: 20px;
        font-size: 30px;
    }

    .kontakt {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .slikaK {
        margin-top: 8px;
    }

    .mapa {
        margin-top: 20px;
        width: 400px;
        height: 300px;
    }
    .kucaTxt{
        padding: 10px;
    
}
}


@media(max-width: 420px) {
    .logo {
        height: 120px;
        width: 120px;
    }

    .burger_meni {
        height: 50px;
        width: 50px;
        margin-right: 30px;
    }

    .mapa {
        height: 250px;
        width: 90%;
    }

    .slikaK {
        height: 50px;
        width: 50px;
    }

    .kucice {
        width: 65%;
    }

    .kucaTxt {
        text-align: justify;
        margin-left: 60px;
        font-size: 15px
    }
}

a:hover {
    color: #a57b48;
    border-bottom: 2px solid #a57b48;
}

ul li a{
    color: #4F0000;
}

